python-dotenv
pywin32
screeninfo 
pyautogui==0.9.54
opencv-python==4.8.1.78
numpy==1.26.4
pyinstaller==6.12.0
setuptools
wheel
requests
pygame
sounddevice
pillow==11.2.1
mss==10.0.0
scikit-image==0.25.2
pygetwindow